<p id="notice"><%= notice %></p>
<div class="container">
    <div class="jumbotron">
    <h1>Friendsgiving</h1>
    <p class="lead">Please share food type situations here</p>
    <p><%= link_to 'New Attendee', new_attendee_path, class: "btn btn-lg btn-success" %></p>
    </div>
</div>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Foods</th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.foods %></td>
        <td><%= link_to 'Show', attendee %></td>
        <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
        <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>

<br>

